.bg-dark {
    background-color: rgb(56, 56, 56);
}

.text-white{
    color: white;
}

.custom-image{
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 20px;
}

.text-bold{
    font-weight: 700;
}

.custom-buttons button, .custom-buttons div{
    color: white;
    border-color: white;
}